/* global styles  */
*,
*::before,
*::after {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    --main-color: #2196f3;
    --secondary-color: #ececec;
    --text-color: #606060;
    --dark-color: #424242;
    --main-margin: 40px;
    --main-padding: 60px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.main-section-pad-marg {
    margin-top: var(--main-margin);
    margin-bottom: var(--main-margin);
    padding-top: var(--main-padding);
    padding-bottom: calc(var(--main-padding) + 20px);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: initial;
}

/* components  */

    /* 1.section header  */

.section-header {
    width: fit-content;
    margin: 80px auto;
    border: 2px solid black;
    padding: .7em 1.3em;
    position: relative;
    z-index: 100;
    transition: border-color .5s .5s,
                box-shadow .3s, bottom .3s;
    margin-top: 30px;
}

.section-header:hover {
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0px 5px 10px 3px rgba(138, 138, 138, 0.086);
    transition: color .5s .5s, border-color .5s .2s, bottom .3s;
}

.section-header::before,
.section-header::after {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    background-color: var(--main-color);
    border-radius: 50%;
    transition: left .5s, 
                right .5s, 
                width .5s .3s, 
                height .5s .3s, 
                border-radius .5s .3s;
}

.section-header::before {
    left: -30px;
}

.section-header::after {
    right: -30px;
}

.section-header:hover::before,
.section-header:hover::after {
    height: 100%;
    border-radius: 0;
} 

.section-header:hover::before {
    left: 0;
    width: 50%;
}

.section-header:hover::after {
    right: 0;
    width: calc(50% + 1px);
}

.section-header h2 {
    margin: 0;
    font-size: 2em;
    text-transform: uppercase;
}

@media (max-width:320px) {
    .section-header h2 {
        font-size: 25px;
    }

    .scroll-to-top {
        display: none !important;
    }
}

.scroll-to-top {
    border: 2px solid #FFF; 
    display: none; 
    box-shadow: rgb(138 138 138 / 25%) 0px 5px 10px 3px; 
    z-index: 10000; 
    font-size: 20px; 
    border-radius: 10px; 
    padding: 15px 20px; 
    position: fixed; 
    right: 25px; 
    bottom: 25px; 
    background-color: #2196f3; 
    color: #FFF;
    transition: background-color .3s ease-out,
                bottom .1s ease-in-out,
                box-shadow .3s ease-out;
}

.scroll-to-top:hover {
    background-color: rgb(0 119 213);
    cursor: pointer;
    bottom: 30px;
    box-shadow: rgb(138 138 138 / 30%) 0px 5px 10px 3px; 
}

/* header mobile  *******************************************/
header {
    box-shadow: 0 0 10px 1px rgba(232, 232, 232, 0.478);
    position: relative;
    z-index: 1000;
    padding: 1em 0;
}

header .container {
    display: flex;
}

.toggle-nav {
    background-color: var(--dark-color);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle-nav:hover {
    opacity: .9;
}

.toggle-nav i.fa-x {
    display: none;
}

.toggle-nav.open i.fa-bars {
    display: none;
}

.toggle-nav.open i.fa-x {
    display: block;
}

.toggle-nav i {
    font-size: 16px;
    color: #fff;
}

.logo {
    margin: auto;
}

.logo a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: var(--main-color);
    width: fit-content;
}

nav {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    transform: translate3d(-100%, 100px, 0) ;
    /* transition: transform 300ms ease-out; */
    z-index: 1000;
}

.toggle-nav.open ~ nav {
    transform: translate3d(0%, 0, 0);
}

nav .primary-list {
    background-color: var(--dark-color);
}

nav .nav-list {
    margin: 0px;
}

nav  .nav-item {
    padding: 1em 2em;
    transition: background-color 300ms;
    position: relative;
    overflow: hidden;
}

nav  .primary-list > .nav-item:hover {
    background-color: #606060;
}

nav  .primary-list > .nav-item::before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--main-color);
    transition: transform 400ms ease-out;
}

nav  .primary-list .nav-item:hover::before {
    transform: translateX(100%);
}

nav .nav-link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

nav .primary-list .nav-link {
    color: white;
}

nav .mega-menu {
    position: relative;
}

nav  .mega-menu::after {
    content: '';
    position: absolute;
    left: 122px;
    top: 21px;
    border-width: 7px;
    border-style: solid;
    border-color: var(--main-color) transparent transparent transparent;
}

nav .secondary-list {
    display: none;
    border-bottom: 3px solid var(--main-color);
}

/* open mega menu with click  */
.mega-menu.open + .secondary-list {
    display: block;
    background-color: var(--dark-color);
}

nav .secondary-list .nav-item {
    padding: 1em 3.5em;
    transition: background-color .2s;
}

nav .secondary-list .nav-item:hover {
    background-color: var(--text-color);
}

nav .secondary-list i,
nav .secondary-list .nav-link {
    color: var(--main-color);
}

nav  .secondary-list .nav-item::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    /* transition: transform 600ms ease-in-out; */
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
}

nav  .secondary-list .nav-item:hover::after {
    transform: translateX(100%);
}

nav .image {
    display: none;
}

/* header tablet 600px *******************************************
**************************************************************/
@media (min-width: 600px) {
    header {
        padding: 0;
    }

    header .container {
        position: relative;
    }

    .toggle-nav {
        display: none;
    }

    nav {
        position: static;
        transform: none;
    }

    nav .primary-list {
        display: flex;
        justify-content: flex-end;
        background-color: transparent;
    }

    nav .primary-list .nav-item {
        padding: 1.5em;
    }

    nav  .primary-list > .nav-item:hover {
        background-color: var(--secondary-color);
    }

    nav .primary-list > .nav-item .nav-link {
        color: initial;
        transition: color .3s;
    }

    nav .primary-list > .nav-item:hover .nav-link {
        color: var(--main-color);
    }

    nav .primary-list .mega-menu {
        padding-right: 3em;
    }

    nav  .mega-menu::after {
        top: 30px;
    }

    nav .nav-list.secondary-list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
    /* open mega menu with hover  */
    .mega-menu:hover + .secondary-list,
    .mega-menu + .secondary-list:hover {
        display: block;
        background-color: var(--dark-color);
    }
    
    /* open mega menu with click  */
    .mega-menu.open + .secondary-list .secondary-nav-container {
        display: flex;
        justify-content: space-evenly;
        padding: 2em 0;
    }
    
    /* open mega menu with hover  */
    .mega-menu:hover + .secondary-list .secondary-nav-container,
    .mega-menu + .secondary-list:hover .secondary-nav-container {
        display: flex;
        justify-content: space-evenly;
        padding: 2em 0;
    }
}

/* header desktop 1000px *******************************************
**************************************************************/
@media (min-width: 1000px) {
    /* open mega menu with click  */
    nav .mega-menu.open + .secondary-list {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    /* open mega menu with hover  */
    nav .mega-menu:hover + .secondary-list,
    nav .mega-menu + .secondary-list:hover {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    nav .secondary-nav-container {
        gap: 2.2em;
    }

    nav .image {
        display: block;
        max-width: 40%;
    }

    nav .image img {
        width: 100%;
    }
}

/* landing mobile  *******************************************/
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    position: relative;
    overflow: hidden;
}

main .background {
    display: none;
}

main .text {
    width: fit-content;
    margin: auto;
}

main .text h1 {
    font-family: 'Koulen', sans-serif;
    font-size: 2.5em;
    color: var(--dark-color);
}

main .text p {
    font-size: 20px;
    font-weight: 400;
    max-width: 400px;
    line-height: 1.7;
    color: #606060;
}

main .text h1 span {
    color: var(--main-color);
}

main .image {
    display: none;
}

main .arrow {
    display: none;
}

/* landing desktop 600px *******************************************
**************************************************************/
@media (min-width: 600px) {
    main .text h1 {
        font-size: 52px;
    }

    main .text p {
        font-size: 22px;
        max-width: 476px;
    }
}

/* landing desktop 1000px *******************************************
**************************************************************/
@media (min-width: 1000px) {
    main .background {
        display: block;
        background-color: var(--secondary-color);
        position: absolute;
        top: -100vh;
        left: -550px;
        z-index: -1;
        width: 200%;
        height: 200%;
        transform: rotate(-5deg);
    }

    main .container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
    }

    main .text h1 {
        font-size: 100px;
        margin-bottom: 0;
    }

    main .text p {
    margin: 0 0 auto;
    max-width: 643px;
    }

    

    main .image img {
        animation: image-moving 3000ms infinite alternate ease-in-out;
    }

    @keyframes image-moving {
        0% {
            transform: translateY(8px);
        }
        100% {
            transform: translateY(-8px);
        }
    }

    main .arrow {
        display: block;
        position: absolute;
        bottom: 40px;
        cursor: pointer;
        animation: arrow-moving 1000ms infinite alternate cubic-bezier(0.32, 0.61, 0.49, 0.82) forwards;
    }

    main .arrow i {
        color: var(--main-color);
    }

    @keyframes arrow-moving {
        0% {
            transform: translateY(0px);
        }
        50% {
            
            transform: translateY(10px);
        }
        100% {
            
            transform: translateY(0px);
        }
    }
}
/* landing desktop 1320px *******************************************
**************************************************************/
@media (min-width: 1320px) {
    main .image {
        display: flex;
        width: 620px;
    }
    main .text {
        min-width: 460px;
        max-width: 416px;
        margin-left: 0;
    }
    main .text h1 {
        font-size: 84px;
        margin-bottom: 0;
    }

    main .text p {
        max-width: 380px;
        margin-top: 0;
    }
}
/* landing desktop 1500px *******************************************
**************************************************************/
@media (min-width: 1500px) {
    main .background {
        top: -115vh;
    }
}

/* articles mobile  *******************************************/
.articles .card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px 2px rgba(230, 230, 230, 0.382);
    transition: transform .3s, box-shadow .5s;
}

.articles .card:hover {
    transform: translateY(-4px);
    box-shadow: 2px 2px 5px 3px rgba(227, 227, 227, 0.587);
}

.articles .card .text > * {
    padding-left: 1em;
    padding-right: 1em;
}

.articles .card .text h3 {
    text-transform: capitalize;
}

.articles .card .text p {
    color: var(--text-color);
}

.articles .card .text .button {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(123, 123, 123, 0.121);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.articles .card .text .button p,
.articles .card .text .button i {
    color: var(--main-color);
}

.articles .card .text .button p {
    font-weight: 700;
}

.articles .card .button i {
    transition: transform .5s;
    padding-right: 5px;
}

.articles .card:hover .button i {
    transform: translateX(3px);
}

/* gallery mobile  *******************************************/
.gallery {
    background-color: var(--secondary-color);
}

.gallery .card {
    border: 15px solid white;
    box-shadow: 2px 2px 5px 2px rgba(230, 230, 230, 0.382);
    position: relative;
    overflow: hidden;
    transition: box-shadow .5s;
}

.gallery .card:hover {
    box-shadow: 2px 2px 5px 2px rgba(227, 227, 227, 0.587);
}

.gallery .card::after {
    content: '';
    width: 0px;
    height: 0px;
    background-color: rgba(255, 255, 255, 0.236);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    transition: .2s;
}

.gallery .card:hover::after {
    animation: article-glowing .6s ease-in-out;
}

@keyframes article-glowing {
    0% {
        width: 0px;
        height: 0px;
    }
    50% {
        width: 100%;
        height: 100%;  
    }
    100% {
        width: 100%;
        height: 100%; 
        background-color: transparent;
    }
}

.gallery .card .image {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform .5s;
}

.gallery .card:hover .image {
    transform: rotate(3deg) scale(1.1);
}

/* features mobile  *******************************************/
.features .container {
    gap: 30px;
}

.features .card {
    border: 1px solid rgb(201, 201, 201);
    text-align: center;
}

.features .card .image {
    position: relative;
    overflow: hidden;
}

.features .card .layer {
    width: 100%;
    height: calc(100% - 3px);
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.features .card .triangle {
    position: absolute;
    bottom: -60%;
    left: -50%;
    width: 200%;
    height: 80%;
    background-color: #fff;
    z-index: 200;
    transform: rotate(-25deg);
    transition: all .3s ease-in-out;
}

.features .card:hover .triangle {
    transform: rotate(25deg);
}

.features .card:first-child .layer {
    background-color: #f44036;
}

.features .card:nth-child(2) .layer {
    background-color: #009688;
}

.features .card:nth-child(3) .layer {
    background-color: #03a9f4;
}

.features .card .text {
    padding: 30px 0;
}

.features .card .text h3 {
    margin: 0 auto;
    padding: 0 5px 15px;
    max-width: fit-content;
    font-size: 38px;
    text-transform: capitalize;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.features .card:first-child .text h3 {
    border-color: #f44036;
}

.features .card:nth-child(2) .text h3 {
    border-color: #009688;
}

.features .card:nth-child(3) .text h3 {
    border-color: #03a9f4;
}

.features .card .text p {
    padding: 2em 1em;
    font-size: 20px;
    color: var(--text-color);
    line-height: 1.7;
}

.features .card .text .btn {
    text-transform: uppercase;
    padding: .6em 1.4em;
    border-radius: 9px;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    border-width: 3px;
    border-style: solid;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.features .card:first-child .text .btn {
    border-color: #f44036;
    color: #f44036;
}

.features .card:nth-child(2) .text .btn {
    border-color: #009688;
    color: #009688;
}

.features .card:nth-child(3) .text .btn {
    border-color: #03a9f4;
    color: #03a9f4;
}

.features .card .text .btn::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -100;
    transition: all .5s ease-in-out;
}

.features .card:first-child .text .btn::before {
    background-color: #f44036;
}

.features .card:nth-child(2) .text .btn::before {
    background-color: #009688;
}

.features .card:nth-child(3) .text .btn::before {
    background-color: #03a9f4;
}

.features .card:hover .text .btn::before {
    left: 0;
}

.features .card:hover .text .btn{
    color: white;
}

/* testimonials ********************************************************************/
.testimonials {
    background-color: var(--secondary-color);
}

.testimonials .card {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.testimonials img {
    position: absolute;
    top: -50px;
    right: -10px;
    border-radius: 50%;
    width: 100px;
    border: 10px solid var(--secondary-color);
}

.testimonials h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.testimonials span {
    color: rgb(138, 138, 138);
    text-transform: uppercase;
    display: block;
    margin-bottom: 13px;
}

.testimonials .rating .filled {
    color: rgb(255, 187, 0);
}

.testimonials p {
    color: rgb(138, 138, 138);
}

.testimonials .rating i {
    font-size: 18px;
}

.testimonials .rating i:last-child {
    visibility: hidden;
}
/* testimonials  mobile ********************************************************************/
@media (max-width: 350px) {
    .testimonials img {
        right: -3px;
        border: 5px solid var(--secondary-color);
    }
}

/* team members ********************************************************************/
.team-members .card {
    position: relative;
    padding: 20px;
    z-index: 1;
    overflow: hidden;
}

.team-members .card::before,
.team-members .card::after {
    content: '';
    width: calc(100% - 75px);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 10px;
    z-index: -1;
}

.team-members .card::before {
    background-color: var(--secondary-color);
    padding-left: 30px;
}

.team-members .card::after {
    background-color: #e5e4e4;
    width: 0;
    transition: width .3s ease-in-out;
}

.team-members .card:hover::after {
    width: calc(100% - 75px);
}

.team-members .card .back .text h3 {
    margin: 0;
}

.team-members .card .front {
    display: flex;
    flex-direction: column;
}

.team-members .card .front .images {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
}

.team-members .card .front .images .image {
    text-align: center;
}

.team-members .card .front .images .image img {
    border-radius: 10px;
    transition: filter .3s ease-in-out;
}

.team-members .card:hover .front .images .image img {
    filter: grayscale(1);
}

.team-members .card .front .images .social-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.team-members .card .front .images .social-media i {
    font-size: 18px;
    color: var(--text-color);
}

.team-members .card .front .images .social-media i:hover {
    color: var(--main-color);
}

.team-members .front .text {
    padding-left: 80px;
}

.team-members .front .text h3 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 15px;
}

.team-members .front .text p {
    color: var(--text-color);
    margin-bottom: 0;
}

/* services ********************************************************************/
.services {
    background-color: var(--secondary-color);
}

.services .container {
    gap: 40px;
}

.services .card {
    background-color: #FFF;
    padding-top: 40px;
    box-shadow: 2px 2px 20px 1px #7272723c;
    counter-increment: service-counter;
    transition: transform .2s ease-in-out;
    position: relative;
}

.services .card:hover {
    transform: translateY(3px);
}

.services .card::before {
    content: '';
    height: 3px;
    width: 0px;
    background-color: var(--main-color);
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: width .3s ease-in-out;
}

.services .card:hover::before {
    width: 100%;
}

.services .card .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.services .card .main .icon {
    color: #7272726b;
}

.services .card .main p {
    font-size: 26px;
    font-weight: bold;
    color: var(--main-color);
}

.services .card .details {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    background-color: #7272720d;
}

.services .card .details .counter {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: var(--main-color);
    min-width: 90px;
    position: relative;
    padding-right: 10px;
    
}

.services .card .details .counter .number::after {
    content: '0' counter(service-counter);
    color: #FFF;
}

.services .card .details .counter .number::before {
    content: '';
    width: 60px;
    height: 100%;
    background-color: rgb(230, 228, 228);
    position: absolute;
    top: 0;
    left: 70px;
    z-index: 300;
    transform: skew(-30deg);
}

.services .card .details a {
    color: var(--main-color);
    font-size: 18px;
}

/* our skills mobile ********************************************************************/
.our-skills .container {
    max-width: 80%;
}

.our-skills .container .image {
    display: none;
}

.our-skills .progress-unit {
    margin-bottom: 15px;
}

.our-skills .progress-unit .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.our-skills .progress-unit .details h3 {
    text-transform: uppercase;
    font-size: 18px;
}

.our-skills .progress-unit .details .progress-num {
    font-size: 18px;
    border: 2px solid var(--secondary-color);
    padding: 1px 3px;
    border-radius: 10px;
    color: var(--main-color);
    font-weight: bold;
}

.our-skills .progress-unit .details .progress-num::after {
    content: "%";
}

.our-skills .progress-unit .progress-bar {
    position: relative;
    height: 30px;
    border-radius: 3px;
    overflow: hidden;
}

.our-skills .progress-unit .progress-bar > * {
    height: 100%;
}

.our-skills .progress-unit .progress-bar .base-bar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--secondary-color);
    width: 100%;
}

.our-skills .progress-unit .progress-bar .prog-bar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    width: 0;
    border-radius: 3px;
    transition: width .2s ease-out;
}
/* our skills desktop 1000px ********************************************************************/
@media (min-width: 1000px) {
    .our-skills .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .our-skills .progression {
        flex-basis: 55%;
        max-width: 60%;
    }

    .our-skills .container .image {
        display: block;
        flex-basis: 40%;
    }
}

/* our skills desktop 1200px ********************************************************************/
@media (min-width: 1200px) {
    .our-skills .container {
        max-width: 1100px;
    }
}

/* how it works (mobile)********************************************************************/
.how-it-works {
    background-color: var(--secondary-color);
}

.how-it-works .container > .image {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.how-it-works .container .content {
    margin-top: 40px;
}

.how-it-works .container .content .work-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgb(246, 246, 246);
    border: 2px solid #FFF;
    border-radius: 10px;
    padding: 30px 20px;
    max-width: 700px;
    margin: 0 auto 30px;
    position: relative;
    isolation: isolate;
}

.how-it-works .container .content .work-content::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    z-index: -1;
    transition: all .3s ease-in-out;
}

.how-it-works .container .content .work-content:hover:before {
    width: 100%;
    height: 100%;
}

.how-it-works .container .content .work-content .image {
    max-width: 70px;
    /* position: relative;
    z-index: 10; */
}

.how-it-works .container .content .work-content .text {
    text-align: center;
    /* position: relative;
    z-index: 10; */
}

.how-it-works .container .content .work-content .text h3 {
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
}

.how-it-works .container .content .work-content .text p {
    line-height: 1.9;
    font-size: 18px;
    color: var(--text-color);
    margin: 0;
}

/* how it works (desktoop)********************************************************************/
@media (min-width: 1000px) {
    .how-it-works .container {
        display: flex;
        gap: 20px;
    }

    .how-it-works .container > .image {
        flex-basis: 50%;
    }

    .how-it-works .container .content {
        flex-basis: 50%;
    }

    .how-it-works .container .content .work-content {
        flex-direction: row;
        gap: 30px;
    }

    .how-it-works .container .content .work-content .image {
        padding-left: 10px;
    }

    .how-it-works .container .content .work-content .text {
        text-align: left;
    }
}

/* latest events mobile ********************************************************************/
.latest-events {
    position: relative;
    overflow: hidden;
}

.latest-events .main-content .image {
    display: none;
}

.latest-events .main-content .sub-content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.latest-events .main-content .sub-content .counter {
    display: flex;
    justify-content: center;
    gap: .5em;
}

.latest-events .main-content .sub-content .counter > * {
    border: 2px solid #d7d7d7;
    border-radius: 10px;
    transition: border .3s ease-in-out;
}

.latest-events .main-content .sub-content .counter > *:hover,
.latest-events .main-content .sub-content .counter > *:hover .number {
    border-color: var(--main-color);
}

.latest-events .main-content .sub-content .counter > * > * {
    padding: 10px;
}

.latest-events .main-content .sub-content .counter .number {
    border-bottom: 2px solid #d7d7d7;
    padding-bottom: 20px;
    transition: border .3s ease-in-out;
    font-weight: bold;
    font-size: 25px;
    color: var(--main-color);
}

.latest-events .main-content .sub-content .counter .type {
    color: #424242;
    text-transform: uppercase;
    font-weight: bold;
}

.latest-events .main-content .sub-content h3 {
    font-size: 28px;
    font-weight: bold;
}

.latest-events .main-content .sub-content p {
    font-size: 20px;
    line-height: 1.6;
    color: var(--text-color);
    max-width: 600px;
    margin: auto;
}
.latest-events .subscribe {
    margin: auto;
    max-width: 80%;
    margin: 20px auto 0;
    max-width: 500px;
    background-color: #EEE;
    padding: 20px 20px 95px;
    border-radius: 0px;
    transition: padding .4s ease-in-out,
                border-radius .4s ease-in-out;
}

.latest-events .subscribe form {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.latest-events .subscribe input {
    border: 1px solid #d7d7d7;
    outline: none;
    padding: 20px;
    background-color: #fff;
    transition: border-radius .5s ease-in-out;
    caret-color: var(--main-color);
    /* border-image: linear-gradient(to right, #d7d7d7 0px,
                                            #d7d7d7 20px, 
                                            transparent 20px, 
                                            transparent 120px,
                                            #d7d7d7 120px,
                                            #d7d7d7 100%); */
    border-image-slice: 1;
}

.latest-events .subscribe label {
    position: absolute;
    padding: 0px 15px;
    transition: top .4s ease-in-out,
                left .4s ease-in-out,
                font-size .4s ease-in-out,
                font-weight .4s ease-in-out,
                color .4s ease-in-out,
                letter-spacing .4s ease-in-out,
                transform .4s ease-in-out,
                background-color .4s ease-in-out;
}

.latest-events .subscribe input:not(:focus) + label,
.latest-events .subscribe input:placeholder-shown + label {
    top: 15px;
    left: 30px;
    color: #a2a2a2;
    font-size: 22px;
}

.latest-events .subscribe input:focus + label,
.latest-events .subscribe input:not(:placeholder-shown) + label {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    top: -10px;
    left: 20px;
    background-color: var(--main-color);
}

.latest-events .subscribe .subscribe-btn  {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    width: 100%;
    max-width: 100%;
    transition: top .4s ease-in-out,
                left .4s ease-in-out,
                border-radius .4s ease-in-out,
                width .4s ease-in-out,
                max-width .4s ease-in-out;
}

.latest-events .subscribe .subscribe-btn:hover {
    background-color: #03a9f4;
}

/* latest events min-width: 800px ********************************************************************/
@media (min-width: 800px) {
    .latest-events .subscribe {        
        padding: 20px 20px 20px;
        border-radius: 30px;
    }

    .latest-events .subscribe input {
        border-radius: 50px;
    }

    .latest-events .subscribe label {
        border-radius: 30px;
    }

    .latest-events .subscribe .subscribe-btn  {
        top: 0;
        max-height: 100%;
        border-radius: 50px;
        width: 30%;
        max-width: 250px;
    }
}

/* latest events min-width: 1000px ********************************************************************/

@media (min-width: 1000px) {
    .latest-events::after,
    .latest-events::before {
        content: url(../imgs/dots.png);
        position: absolute;
        max-width: 100px;
    }

    .latest-events::after {
        right: 50px;
        top: 10%;
    }

    .latest-events::before {
        left: -50px;
        bottom: 10%;
    }

    .latest-events .main-content {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 90px;
    }
    
    .latest-events .main-content .image {
        flex-basis: 50%;
        display: block;
    }

    .latest-events .main-content .sub-content {
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

/*------------------------------------------------------------------------------*/
/*---------------------------------pricing plans mobile ------------------------*/
/*------------------------------------------------------------------------------*/
.pricing-plans {
    position: relative;
    background-color: var(--secondary-color);
    z-index: 0;
}

.pricing-plans::before,
.pricing-plans::after {
    content: url(../imgs/dots.png);
    background-size: cover;
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: -1;
}

.pricing-plans::before {
    top: 181px;
    right: 8px;
}

.pricing-plans::after {
    bottom: 40px;
    left: 4px;
}

.pricing-plans .card {
    box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    isolation: isolate;
    background-color: #FFF;
}

.pricing-plans .card::before,
.pricing-plans .card::after {
    content: '';
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.05);
    position: absolute;
    z-index: -1;
    transition: left .4s ease-in-out,
                right .4s ease-in-out;
}

.pricing-plans .card::before {
    top: 0;
    left: -100%;
}

.pricing-plans .card:hover::before {
    left: 0;
}

.pricing-plans .card::after {
    top: 50%;
    right: -100%;
}

.pricing-plans .card:hover::after {
    right: 0;
}

.pricing-plans .card .head {
    width: fit-content;
    margin: auto;
    text-align: center;
}

.pricing-plans .card .head h3 {
    font-size: 42px;
    font-weight: bold;
}

.pricing-plans .card .head .image {
    margin-top: 40px;
    margin-bottom: 40px;
}

.pricing-plans .card .head .number {
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
}

.pricing-plans .card .head .per {
    color: var(--text-color);
    font-size: 15px;
}

.pricing-plans .card .head .image img {
    max-width: 40%;
}

.pricing-plans .card .features {
    margin-top: 30px;
}

.pricing-plans .card .features li {
    padding: 15px;
    border-bottom: 1px solid var(--secondary-color);
    color: var(--text-color);
}

.pricing-plans .card .features li:first-of-type {
    border-top: 1px solid var(--secondary-color);
}

.pricing-plans .card .features li:before {
    content: '\f058';
    font-family: 'FontAwesome'; 
    font-weight: 900;
    font-size: 20px;
    margin-right: 10px;
    color: var(--main-color);
}

.pricing-plans .card .cta {
    margin: auto;
    width: fit-content;
    padding: 40px 0;
}

.pricing-plans .card .cta button {
    border: 3px solid var(--main-color);
    background-color: #fff;
    padding: .5em;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    color: var(--main-color);
    transition: color .2s ease-in-out,
                background-color .2s ease-in-out;
}

.pricing-plans .card .cta button:hover {
    background-color: var(--main-color);
    color: #fff;
}

.most-popular {
    position: absolute;
    top: 0px;
    right: 6%;
    width: 40px;
    height: 145px;
    background-color: var(--main-color);
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    writing-mode: vertical-lr;
    padding: 20px 10px;
}

.most-popular::before,
.most-popular::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 30px;
    bottom: -24px;
}

.most-popular::before {
    right: 0px;
    border-color: transparent var(--main-color) transparent transparent;
}

.most-popular::after {
    left: 0;
    border-color: transparent transparent transparent var(--main-color);
}

/*------------------------------------------------------------------------------*/
/*---------------------------------pricing plans desktop ------------------------*/
/*------------------------------------------------------------------------------*/
@media (min-width: 1073px) {
    .most-popular-plan {
        bottom: 20px;
    }
}