/* global styles  */
*,
*::before,
*::after {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

:root {
    --main-color: #2196f3;
    --secondary-color: #ececec;
    --text-color: #606060;
    --dark-color: #424242;
    --main-margin: 40px;
    --main-padding: 40px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Cairo', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.main-section-pad-marg {
    margin-top: var(--main-margin);
    margin-bottom: var(--main-margin);
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: initial;
}

/* components  */

    /* 1.section header  */

.section-header {
    width: fit-content;
    margin: 80px auto;
    border: 2px solid black;
    padding: .7em 1.3em;
    position: relative;
    z-index: 100;
    transition: border-color .5s .5s,
                box-shadow .3s;
    margin-top: 30px;
}

.section-header:hover {
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0px 1px 10px 3px rgba(138, 138, 138, 0.086);
    transition: color .5s .5s, border-color .5s .2s;
}

.section-header::before,
.section-header::after {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
    background-color: var(--main-color);
    border-radius: 50%;
    transition: left .5s, 
                right .5s, 
                width .5s .3s, 
                height .5s .3s, 
                border-radius .5s .3s;
}

.section-header::before {
    left: -30px;
}

.section-header::after {
    right: -30px;
}

.section-header:hover::before,
.section-header:hover::after {
    height: 100%;
    border-radius: 0;
} 

.section-header:hover::before {
    left: 0;
    width: 50%;
}

.section-header:hover::after {
    right: 0;
    width: calc(50% + 1px);
}

.section-header h2 {
    margin: 0;
    font-size: 2em;
    text-transform: uppercase;
}

/* header mobile  *******************************************/
header {
    box-shadow: 0 0 10px 1px rgba(232, 232, 232, 0.478);
    position: relative;
    z-index: 1000;
    padding: 1em 0;
}

header .container {
    display: flex;
}

.toggle-nav {
    background-color: var(--dark-color);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle-nav:hover {
    opacity: .9;
}

.toggle-nav i.fa-x {
    display: none;
}

.toggle-nav.open i.fa-bars {
    display: none;
}

.toggle-nav.open i.fa-x {
    display: block;
}

.toggle-nav i {
    font-size: 16px;
    color: #fff;
}

.logo {
    margin: auto;
}

.logo a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    color: var(--main-color);
    width: fit-content;
}

nav {
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    transform: translate3d(-100%, 100px, 0) ;
    /* transition: transform 300ms ease-out; */
    z-index: 1000;
}

.toggle-nav.open ~ nav {
    transform: translate3d(0%, 0, 0);
}

nav .primary-list {
    background-color: var(--dark-color);
}

nav .nav-list {
    margin: 0px;
}

nav  .nav-item {
    padding: 1em 2em;
    transition: background-color 300ms;
    position: relative;
    overflow: hidden;
}

nav  .primary-list > .nav-item:hover {
    background-color: #606060;
}

nav  .primary-list > .nav-item::before {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--main-color);
    transition: transform 400ms ease-out;
}

nav  .primary-list .nav-item:hover::before {
    transform: translateX(100%);
}

nav .nav-link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

nav .primary-list .nav-link {
    color: white;
}

nav .mega-menu {
    position: relative;
}

nav  .mega-menu::after {
    content: '';
    position: absolute;
    left: 122px;
    top: 21px;
    border-width: 7px;
    border-style: solid;
    border-color: var(--main-color) transparent transparent transparent;
}

nav .secondary-list {
    display: none;
    border-bottom: 3px solid var(--main-color);
}

/* open mega menu with click  */
.mega-menu.open + .secondary-list {
    display: block;
    background-color: var(--dark-color);
}

/* open mega menu with hover  */
.mega-menu:hover + .secondary-list,
.mega-menu + .secondary-list:hover {
    display: block;
    background-color: var(--dark-color);
}

nav .secondary-list .nav-item {
    padding: 1em 3.5em;
    transition: background-color .2s;
}

nav .secondary-list .nav-item:hover {
    background-color: var(--text-color);
}

nav .secondary-list i,
nav .secondary-list .nav-link {
    color: var(--main-color);
}

nav  .secondary-list .nav-item::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    /* transition: transform 600ms ease-in-out; */
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
}

nav  .secondary-list .nav-item:hover::after {
    transform: translateX(100%);
}

nav .image {
    display: none;
}

/* header tablet 600px *******************************************
**************************************************************/
@media (min-width: 600px) {
    header {
        padding: 0;
    }

    header .container {
        position: relative;
    }

    .toggle-nav {
        display: none;
    }

    nav {
        position: static;
        transform: none;
    }

    nav .primary-list {
        display: flex;
        justify-content: flex-end;
        background-color: transparent;
    }

    nav .primary-list .nav-item {
        padding: 1.5em;
    }

    nav  .primary-list > .nav-item:hover {
        background-color: var(--secondary-color);
    }

    nav .primary-list > .nav-item .nav-link {
        color: initial;
        transition: color .3s;
    }

    nav .primary-list > .nav-item:hover .nav-link {
        color: var(--main-color);
    }

    nav .primary-list .mega-menu {
        padding-right: 3em;
    }

    nav  .mega-menu::after {
        top: 30px;
    }

    nav .nav-list.secondary-list {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
    
    /* open mega menu with click  */
    .mega-menu.open + .secondary-list .secondary-nav-container {
        display: flex;
        justify-content: space-evenly;
        padding: 2em 0;
    }
    
    /* open mega menu with hover  */
    .mega-menu:hover + .secondary-list .secondary-nav-container,
    .mega-menu + .secondary-list:hover .secondary-nav-container {
        display: flex;
        justify-content: space-evenly;
        padding: 2em 0;
    }
}

/* header desktop 1000px *******************************************
**************************************************************/
@media (min-width: 1000px) {
    /* open mega menu with click  */
    nav .mega-menu.open + .secondary-list {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    /* open mega menu with hover  */
    nav .mega-menu:hover + .secondary-list,
    nav .mega-menu + .secondary-list:hover {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    nav .secondary-nav-container {
        gap: 2.2em;
    }

    nav .image {
        display: block;
        max-width: 40%;
    }

    nav .image img {
        width: 100%;
    }
}

/* landing mobile  *******************************************/
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    position: relative;
    overflow: hidden;
}

main .background {
    display: none;
}

main .text {
    width: fit-content;
    margin: auto;
}

main .text h1 {
    font-family: 'Koulen', sans-serif;
    font-size: 2.5em;
    color: var(--dark-color);
}

main .text p {
    font-size: 20px;
    font-weight: 400;
    max-width: 400px;
    line-height: 1.7;
    color: #606060;
}

main .text h1 span {
    color: var(--main-color);
}

main .image {
    display: none;
}

main .arrow {
    display: none;
}

/* landing desktop 600px *******************************************
**************************************************************/
@media (min-width: 600px) {
    main .text h1 {
        font-size: 52px;
    }

    main .text p {
        font-size: 22px;
        max-width: 476px;
    }
}

/* landing desktop 1000px *******************************************
**************************************************************/
@media (min-width: 1000px) {
    main .background {
        display: block;
        background-color: var(--secondary-color);
        position: absolute;
        top: -100vh;
        left: -550px;
        z-index: -1;
        width: 200%;
        height: 200%;
        transform: rotate(-5deg);
    }

    main .container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 90px;
    }

    main .text {
        min-width: 460px;
    }

    main .text h1 {
        font-size: 84px;
        margin-bottom: 0;
    }

    main .text p {
        max-width: 380px;
        margin-top: 0;
    }

    main .image {
        display: flex;
        align-items: center;
        max-width: 600px;
    }

    main .image img {
        animation: image-moving 3000ms infinite alternate ease-in-out;
    }

    @keyframes image-moving {
        0% {
            transform: translateY(8px);
        }
        100% {
            transform: translateY(-8px);
        }
    }

    main .arrow {
        display: block;
        position: absolute;
        bottom: 40px;
        cursor: pointer;
        animation: arrow-moving 1000ms infinite alternate cubic-bezier(0.32, 0.61, 0.49, 0.82) forwards;
    }

    main .arrow i {
        color: var(--main-color);
    }

    @keyframes arrow-moving {
        0% {
            transform: translateY(0px);
        }
        50% {
            
            transform: translateY(10px);
        }
        100% {
            
            transform: translateY(0px);
        }
    }
}
/* landing desktop 1500px *******************************************
**************************************************************/
@media (min-width: 1500px) {
    main .background {
        top: -115vh;
    }
}

/* articles mobile  *******************************************/
.articles .card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 5px 2px rgba(230, 230, 230, 0.382);
    transition: transform .3s, box-shadow .5s;
}

.articles .card:hover {
    transform: translateY(-4px);
    box-shadow: 2px 2px 5px 3px rgba(227, 227, 227, 0.587);
}

.articles .card .text > * {
    padding-left: 1em;
    padding-right: 1em;
}

.articles .card .text h3 {
    text-transform: capitalize;
}

.articles .card .text p {
    color: var(--text-color);
}

.articles .card .text .button {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(123, 123, 123, 0.121);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.articles .card .text .button p,
.articles .card .text .button i {
    color: var(--main-color);
}

.articles .card .text .button p {
    font-weight: 700;
}

.articles .card .button i {
    transition: transform .5s;
    padding-right: 5px;
}

.articles .card:hover .button i {
    transform: translateX(3px);
}

/* gallery mobile  *******************************************/
.gallery {
    background-color: var(--secondary-color);
}

.gallery .card {
    border: 15px solid white;
    box-shadow: 2px 2px 5px 2px rgba(230, 230, 230, 0.382);
    position: relative;
    overflow: hidden;
    transition: box-shadow .5s;
}

.gallery .card:hover {
    box-shadow: 2px 2px 5px 2px rgba(227, 227, 227, 0.587);
}

.gallery .card::after {
    content: '';
    width: 0px;
    height: 0px;
    background-color: rgba(255, 255, 255, 0.059);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    transition: .2s;
}

.gallery .card:hover::after {
    width: 100%;
    height: 100%;
}

.gallery .card .image {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform .5s;
}

.gallery .card:hover .image {
    transform: rotate(3deg) scale(1.1);
}

/* features mobile  *******************************************/
.features .container {
    gap: 30px;
}

.features .card {
    border: 1px solid rgb(201, 201, 201);
    text-align: center;
}

.features .card .image {
    position: relative;
    overflow: hidden;
}

.features .card .layer {
    width: 100%;
    height: calc(100% - 3px);
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.features .card .triangle {
    position: absolute;
    bottom: -60%;
    left: -50%;
    width: 200%;
    height: 80%;
    background-color: #fff;
    z-index: 200;
    transform: rotate(-25deg);
    transition: all .3s ease-in-out;
}

.features .card:hover .triangle {
    transform: rotate(25deg);
}

.features .card:first-child .layer {
    background-color: #f44036;
}

.features .card:nth-child(2) .layer {
    background-color: #009688;
}

.features .card:nth-child(3) .layer {
    background-color: #03a9f4;
}

.features .card .text {
    padding: 30px 0;
}

.features .card .text h3 {
    margin: 0 auto;
    padding: 0 5px 15px;
    max-width: fit-content;
    font-size: 38px;
    text-transform: capitalize;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.features .card:first-child .text h3 {
    border-color: #f44036;
}

.features .card:nth-child(2) .text h3 {
    border-color: #009688;
}

.features .card:nth-child(3) .text h3 {
    border-color: #03a9f4;
}

.features .card .text p {
    padding: 2em 1em;
    font-size: 20px;
    color: var(--text-color);
    line-height: 1.7;
}

.features .card .text .btn {
    text-transform: uppercase;
    padding: .6em 1.4em;
    border-radius: 9px;
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    border-width: 3px;
    border-style: solid;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.features .card:first-child .text .btn {
    border-color: #f44036;
    color: #f44036;
}

.features .card:nth-child(2) .text .btn {
    border-color: #009688;
    color: #009688;
}

.features .card:nth-child(3) .text .btn {
    border-color: #03a9f4;
    color: #03a9f4;
}

.features .card .text .btn::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -100;
    transition: all .5s ease-in-out;
}

.features .card:first-child .text .btn::before {
    background-color: #f44036;
}

.features .card:nth-child(2) .text .btn::before {
    background-color: #009688;
}

.features .card:nth-child(3) .text .btn::before {
    background-color: #03a9f4;
}

.features .card:hover .text .btn::before {
    left: 0;
}

.features .card:hover .text .btn{
    color: white;
}

/* testimonials ********************************************************************/
.testimonials {
    background-color: var(--secondary-color);
}

.testimonials .card {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.testimonials img {
    position: absolute;
    top: -50px;
    right: -10px;
    border-radius: 50%;
    width: 100px;
    border: 10px solid var(--secondary-color);
}

.testimonials h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.testimonials span {
    color: rgb(138, 138, 138);
    text-transform: uppercase;
    display: block;
    margin-bottom: 13px;
}

.testimonials .rating .filled {
    color: rgb(255, 187, 0);
}

.testimonials p {
    color: rgb(138, 138, 138);
}

.testimonials .rating i {
    font-size: 18px;
}

.testimonials .rating i:last-child {
    visibility: hidden;
}